<nav class="navbar navbar-default">
    <div class="container">
        
      
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
                <li>
                    <a href="{{ path('app_register') }}">Inscription</a>
                </li>
            </ul>
        </div>
    </div>
</nav>